<ul class="flex-container descontosLi">
    <li class="flex-item controle">
        <img src="../../../assets/img/headset.png" alt="Imagem de menino com headset">
    </li>
    <li class="flex-item2 controle2">
        <h1>50% de desconto</h1>
        <h3>Headsets</h3>
        <a href="#" class="btnclik cont">
            <h2>Clique Aqui</h2> <img src="../../../assets/img/mao.svg" alt="botão Clique aqui">
        </a>
    </li>
    <li class="flex-item">
        <img src="../../../assets/img/controle.png" class="controle" id="controleMao" alt="Imagem de mao segurando controle">

    </li>
    <li class="flex-item2 controleBtn">
        <h1>50% de desconto</h1>
        <h3>Headsets</h3>
        <a href="#" class="btnclik cont">
            <h2>Clique Aqui</h2> <img src="../../../assets/img/mao.svg" alt="botão Clique aqui">
        </a>
        
    </li>
   

  </ul>
