
<section class="newsletter">
    <div class="container">
        <div class="row">
                <div class="content">
                    <h2 class="col-md">Inscreva-se em nossa newsletter</h2>
                    <div class="input-group col-md">
                        <input type="email" class="form-control" name=""
                        placeholder="Digite seu e-mail">
                        <span class="input-group-btn">
                            <button class="btn" type="submit">Inscreva-se</button>

                        </span>
                    </div>
                </div>
            
        </div>
    </div>
</section>
