<div class="container">
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-banner></app-banner>
        </div>
    </div>

    <!-- arrumar abaixo em rotas -->

<!-- <div class="row">
    <div class="col">
        <app-shopping-cart></app-shopping-cart>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-banner-descontos></app-banner-descontos>
    </div>
</div>

<app-sobre></app-sobre> -->
<!-- arrumar acima em rotas -->

<router-outlet></router-outlet>
<app-newsletter></app-newsletter>
<app-institucional></app-institucional>
<app-footer></app-footer>

</div>


