
    <div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top produtoImg"  
    src="../../../../../assets/img/notebook 1.png" >

<div class="card-body">
    <h1 class="card-text">Produto A</h1>
    
    <h3 class="card-text">
        <strong>R$1,599.99 no boleto</strong></h3>
    <h3 class="card-text">R$1,999.99 no cartão</h3>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button type="button" class="btn btn-md btn-primary">Comprar</button>
            <button type="button" class="btn btn-md btn-secondary">Detalhes</button>
        </div>
        
    </div>
</div>

</div>

