<section class="pcgamer">
    <div class="row products">
        <div class="texto">
            <h1>Periféricos</h1>
            <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        </div>
        <div class="col-md-4" *ngFor="let i of [1,2,3,4,5,6]">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top"  
                src="../../../assets/img/teclado.png" alt="imagem do jogo a">
            
            <div class="product-body">
                <h1 class="card-text">Produto A</h1>
                
                <h3 class="card-text">
                    <strong>R$299.90 no boleto</strong></h3>
                <h3 class="card-text">R$399,90 no cartão</h3>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-md btn-primary">Comprar</button>
                        <button type="button" class="btn btn-md btn-secondary">Carrinho</button>
                    </div>
                   
                    
                </div>
            </div>
            
            </div>
            
        </div>
        <div class="btn-final">
            <button type="button" class="btn btn-md btn-primary">Veja Mais</button>
        </div>
      
        
    </div>
</section>


